<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container py-3">
        <div class="h2 text-center"><h1 class="h1 text-center text-secondary">Welcome to Medical System</h1>
            <br><br>
            <p>Log in as <a class="text-primary" href="/logout" id="logoutLink">Admin</a> to have full access</p>
            <br>

        </div>
    </div>


</body>
</html>